.controlWidgetContainer {
  padding: 20px;
  background-color: white;

  z-index: 1000;
  position: absolute;
  right: 0;

  margin-top: 10px;
  margin-right: 10px;
}

.taxiNumberSliderContainer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.errorMessage {
  color: red;
}

.blockBtn {
  display: block;
  width: 100%;
  border: none;
  padding: 10px 28px;
  cursor: pointer;
  text-align: center;
}

.toggleRefreshBtn {
  background-color: red;
  color: white;
  margin-top: 15px;
}

.loadingBtn {
  background-color: grey;
  color: white;
  margin-top: 15px;
}

.getTaxisBtn {
  background-color: #46bedb;
  color: white;
  margin-top: 15px;
}
